<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user  %>
      
      <h2 class="mt-3">New book</h2>
      
<%= form_with model: @book,local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
      
    </div>
    
    
    
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@existing_book.user) do %>
            <%= image_tag @existing_book.user.get_profile_image, size:"100x100" %><br>
            <%= @existing_book.user.name %>
            <% end %>
          </td>
          
          <td><%= link_to @existing_book.title, @existing_book %></td>
          
          <td><%= @existing_book.body %></td>
          
          <% if current_user == @existing_book.user %>
          
            <td><%= link_to 'Edit', edit_book_path(@existing_book), class: "btn btn-sm btn-success" %></td>
            
            <td><%= link_to 'Destroy', @existing_book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
            
          <% end %>  
            
        </tr>
      </table>
    </div>
  </div>
</div>